<system.web.extensions>
    <scripting>
        <webServices>
            <jsonSerialization maxJsonLength="2147483644"></jsonSerialization>
        </webServices>
    </scripting>
</system.web.extensions>

<appSettings>
  <add key="aspnet:MaxJsonDeserializerMembers" value="500000" />
</appSettings>